@{
    ViewBag.Title = "A cerca";
}
<p>
    <h3 align="center">
        <img src="~/Imagenes/UTC.jpg" />
    </h3>
</p>
<h2 align="center">SISTEMA PSICOLOGIA BELEN</h2>
<h3 align="center">versión 1.01 </h3>
<h2 align="center">Proyecto Profesional Informático </h2>
<h2 align="center"> Lenguaje de Programación : C# ASP.NET MVC </h2>
<h3 align="center">Estudiantes: </h3>
<h3 align="center">Jaziel Barrantes Carballo </h3>
<h3 align="center">Kevin Gutiérrez Lazo</h3>
<h3 align="center"> III Cuatrimestre 2020</h3>

<p> www.tallerdouglasrojas.com </p>

<tr>
    <td>
        <div class="col-md-offset-1 col-md-1">
            @Html.ActionLink("Salir", "Index", "Home", null, new { @class = "btn btn-outline-primary btn-sm" })
        </div>
    </td>
</tr>
