@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error, inténtelo más tarde.
Si todavía persiste este error podría comunicarse con el administrador, gracias.</h2>

