@{
    ViewBag.Title = "enviar correo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>enviar correo</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Enviar Correo", "EnviarCorreo", "EnviarCorreo")</li>
    </ul>
</div>

